@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-dot-pattern {
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 24px 24px;
  }
}
